<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_here_maps_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This is needed for the Bluetooth-based indoor positioning feature</string>
	<key>NSCameraUsageDescription</key>
	<string>This is needed for the LiveSight augmented reality feature</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This is needed to determine your current location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This is needed to determine your current location</string>
	<key>NSMotionUsageDescription</key>
	<string>This is needed for the indoor positioning feature</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>here_maps_app_id</key>
	<string>V9gCZ00ozBlbYMm7UNNx</string>
	<key>here_maps_app_license</key>
	<string>D9CHU3S9vTbdnDbu75uGzErMQIlP2uCjNN+uiFWhWBcstrb+VxVRzkHhJiK/cQiaD07A5Q+3Q4QliEfGs8wEJPo+RGCnEQtzKk3r0MCz1QTgTL52kPIg04dojFdv1SF8imPPMUmIY741KrKvmsLhsF8Zle80yIWTFk5ZBT7zDuB4Ss0zUlfZy8fB5POGPse6feXtsYTNLvrffrivw63uCBsht/RydnytptOF49ypCgq98KGnWiw/8UFk4SwfhtPAKPtMiAuot5ebKOPjduwu2WZHHvconnQzhflgBLeLbUnjh07skCVPLrVRRQJZEZpZR3UUiBDoJbAAhj1vwBFOJuFJ2wNMh7hum/reQ5wAMQPW6t7S/fvsIcvsg9xzYPhPJkgyyhrfZTt9NfOGqHFMSP7kA4D/lvmdXnItz/+VaIdyJZhUmRloYTqkBRlsXX3TzzJaxFIYnIFIPiq7wlxysjkvzbZIdhOBlqHMQD8BjF0dcGWADVvpcfB37ZfN6EoY5h4lZs7Kc/Y9+mi/KNt8I4Sr4PFH4fFy5KWyq3Bu7RWxDnsCspNRPocvl51d/ruLNsMSY3yOL77KBIO6LivmxCof7OmJjiqqvn6kw/jlEYLd8Qmmhf3A1BYVITVqTA0IZlixE75ZCirmiob80VUCTbq4FnmH6c6AyKiZ/LThYcA=</string>
	<key>here_maps_app_token</key>
	<string>9Eep4LFRqnMjX3NQXey8vg</string>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
